<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- force edge-level compatibility for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Yahoo! Group Backup</title>

  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">

</head>

<!-- padding to make room for nav -->
<body style="padding-top: 50px; min-width: 480px">
  <!-- ========================================== -->
  <!-- module templates (must be included inline) -->
  <!-- ========================================== -->

  <script type="text/ng-template" id="./modules/nav.html">

  <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="collapsed = !collapsed;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./index.html">{{ config.groupName }}</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="collapsed">
      <ul class="nav navbar-nav">
        <li ng-class="{active: (nav.segment | routeSegmentStartsWith) }" ng-repeat="nav in navs">
          <!--<a href="{{ nav.url }}">{{ nav.text }}</a>-->
          <!--<a ui-sref="{{ nav.segment }}" ng-click="$parent.collapsed = true;">{{ nav.text }}</a>-->
          <a href="#{{ nav.segment | routeSegmentUrl }}" ng-click="$parent.collapsed = true;">{{ nav.text }}</a>
        </li>
      </ul>
    </div>
  </div>

  </script>

  <script type="text/ng-template" id="./modules/index.html">

    <div ng-show="!messageIndexLoaded">
      <div class="text-center">
      <br>
      <p class="lead">Loading messages...</p>
      <p class="lead">(Browser may appear stuck for a few seconds.)</p>
      <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
      </div>
    </div>
    <div ng-show="messageIndexLoaded">
    <table id="messageIndexTable" class="table table-hover table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr class="row">
        <th class="col-xs-4  col-sm-4 col-md-5 col-lg-6">Subject</th>
        <th class="col-xs-4  col-sm-3 col-md-3 col-lg-3">Author</th>
        <th class="col-xs-4  col-sm-3 col-md-3 col-lg-2">Posted<span id="tz"></span></th>
        <th class="hidden-xs col-sm-2 col-md-1 col-lg-1">#</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </div>

  </script>

  <script type="text/ng-template" id="./modules/files.html">
    <br>
    <div class="text-center">
      <a href="./data/files" target="_blank" class="lead">Click to view the group files (opens in a new tab).</a>
    </div>

  </script>
  <script type="text/ng-template" id="./modules/about.html">

    <div class="text-center">
      <br>
      <p class="lead">This is an automatically-generated backup of the "{{ config.groupName }}" Yahoo! Group.</p>
      <p class="lead">
        This backup doesn't contain any messages posted after {{ config.lastMessage*1000 | date:dateFormat }}.
        To see the latest messages, check out the live group
        <a href="https://groups.yahoo.com/neo/groups/{{ config.groupName }}/info">here</a>.
      </p>
    </div>
  </script>


  <!-- ================================= -->
  <!-- ========== actual site ========== -->
  <!-- ================================= -->

  <!-- all content in one initially-hidden container -->
  <div id="script-container" class="container" style="display: none;">

  <!-- first view - show until config loaded -->
  <div ng-show="!configLoaded" class="text-center">
    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
  </div>

  <!-- second view - only show when finished loading -->
  <div ng-show="configLoaded">
  <div ng-include="'./modules/nav.html'"></div>

  <div class="text-center">
    <h1 ng-if="config.groupName">{{ config.groupName }} Yahoo! Group Backup</h1>
    <h1 ng-if="!config.groupName">Yahoo! Group Backup</h1>
  </div>

  <div app-view-segment="0"></div>
  </div>

  <!-- noscript message, initially visible -->
  <div id="noscript-container">
    <div class="text-center">
      <p class="lead">You must enable JavaScript to use this static website.</p>
    </div>
  </div>

  <!-- ================================= -->
  <!-- ========== js includes ========== -->
  <!-- ================================= -->

  <!-- libraries -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="http://stevenlevithan.com/assets/misc/date.format.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-route-segment/1.4.0/angular-route-segment.min.js"></script>

  <script type="text/javascript" src="./js/ui-bootstrap-custom-1.3.3.min.js"></script>
  <script type="text/javascript" src="./js/ui-bootstrap-custom-tpls-1.3.3.min.js"></script>

  <!-- modules -->
  <script type="text/javascript" src="./modules/app.js"></script>
  <script type="text/javascript" src="./modules/local-jsonp.js"></script>
  <script type="text/javascript" src="./modules/nav.js"></script>
  <script type="text/javascript" src="./modules/index.js"></script>


  <!-- ================================= -->
  <!-- ========= bootstrap app ========= -->
  <!-- ================================= -->
  <script type="text/javascript">
    // show javascript-only content
    $("#noscript-container").css({"display": "none"});
    $("#script-container").css({"display": ""});

    $(document).ready(function() {
      angular.bootstrap($("body"), ['staticyahoo.app']);
    });
  </script>
</body>
</html>
