<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- force edge-level compatibility for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Yahoo! Group Backup</title>

  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">

  <!-- js - libraries -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="http://stevenlevithan.com/assets/misc/date.format.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <!-- js - modules -->
  <script type="text/javascript" src="./modules/app.js"></script>

</head>
<body ng-app="staticyahoo.app" style="padding-top: 50px;">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./index.html">Yahoo! Groups Backup</a>
    </div>
    <div class="collapse navbar-collapse">
      <!--{% set navigation = [
          ('index.html', 'index', 'Index'),
          ('files', 'files', 'Files'),
          ('about.html', 'about', 'About'),
      ] %}
      {% set active_page = active_page|default('index') %}
      <ul class="nav navbar-nav">
        {% for href, id, caption in navigation %}
          <li {% if id == active_page %} class="active" {% endif %}>
            <a href="{{ path_to_root }}/{{ href }}">{{ caption  }}</a>
          </li>
        {% endfor %}
      </ul>-->
    </div><!--/.nav-collapse -->
  </div>
</div>
</body>
</html>
