{% extends "master.html" %}
{% set active_page = 'about' %}
{% block body %}
<div class="container">

  <div class="text-center">
    <h1>{{ group_name }} Yahoo! Group Backup</h1>
  </div>

  <p class="lead">This is an automatically-generated backup of the {{ group_name }} Yahoo! Group.</p>
  <p class="lead">
    This backup doesn't contain any messages posted after {{ last_message_date }}. To see the latest messages,
    check out the live group <a href="https://groups.yahoo.com/neo/groups/{{ group_name }}/info">here</a>.
  </p>
</div>
{% endblock %}
