{% extends "master.html" %}
{% set active_page = 'index' %}
{% block head %}
  <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
  <style>
    td {
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .highlight {
      background-color: #ffff7f;
    }
  </style>
{% endblock %}
{% block body %}
<div class="container">

  <div class="text-center">
    <h1>{{ group_name }} Yahoo! Group Backup</h1>
  </div>

  <div id="loading">
    <div class="text-center">
    <br>
    <p class="lead">Loading messages...</p>
    <img src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
    </div>
  </div>
  <div id="table-container" style="display: none;">
  <table id="messages" class="table table-hover table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr class="row">
      <th class="col-xs-4  col-sm-4 col-md-5 col-lg-6">Subject</th>
      <th class="col-xs-4  col-sm-3 col-md-3 col-lg-3">Author</th>
      <th class="col-xs-4  col-sm-3 col-md-3 col-lg-2">Date</th>
      <th class="hidden-xs col-sm-2 col-md-1 col-lg-1">#</th>
      <th>Raw Number</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messages %}
    <tr class="row" data-message="{{ message._id }}">
      <td class="col-xs-4  col-sm-4 col-md-5 col-lg-6">
        <a href="./messages/{{ message._id }}.html">{{ message.subject }}</a><br>
      </td>
      <td class="col-xs-4  col-sm-3 col-md-3 col-lg-3">{{ get_display_name(message) }}</td>
      <td class="col-xs-4  col-sm-3 col-md-3 col-lg-2">{{ get_formatted_date(message) }}</td>
      <td class="hidden-xs col-sm-2 col-md-1 col-lg-1">
        <a href="./messages/{{ message._id }}.html">{{ message._id }}</a>
      </td>
      <td>{{ message._id }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  <br>

</div><!-- /.container -->

  <script type="text/javascript">
    var currentHighlight = null;

    function goToMessageNumber(number) {
      var table = $('#messages').DataTable();

      // remove current highlight
      if (currentHighlight) {
        $(table.row(currentHighlight).nodes()).removeClass('highlight');
      }

      var index = table.column(4).data().indexOf(''+number);
      if (index === -1) {
        return;
      }

      currentHighlight = index;

      // add new highlight
      $(table.row(currentHighlight).nodes()).addClass('highlight');

      // go to page
      var page = Math.floor(currentHighlight / table.page.len());
      table.page(page).draw(false);
    }

    function updateSelectMessage() {
      var messageNumber = parseInt($("#select-message").val());
      goToMessageNumber(messageNumber);
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function() {
      // initialize table
      var table = $('#messages').DataTable({
        "order": [[ 3, "desc" ]],
        "dom":
           "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
           "<'row'<'col-sm-5 go-to-message'><'col-sm-7'p>>" +
           "<'row'<'col-sm-12'tr>>" +
           "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        "lengthMenu": [ [ 10, 25, 50, 100, 1000, 5000, -1 ], [ 10, 25, 50, 100, 1000, 5000, "All" ]],
        "pagingType": "simple_numbers",
        "columnDefs": [
          {
            "targets": [4],
            "visible": false,
            "searchable": false
          }
        ]
      });

      // insert 'go-to-message' DOM
      $("div.go-to-message").html(
              "<label>Go to #: " +
              "<input id='select-message' class='form-control input-sm' placeholder='21345'>" +
              "<button class='btn btn-sm btn-primary' onclick='updateSelectMessage()'>Go</button>" +
              "</label>"
      );

      // select message if specified
      var selectMessage = getParameterByName('select-message');
      if (selectMessage != null) {
        $("#select-message").val(selectMessage);
        updateSelectMessage();
      }

      // clicking on table row also selects message
      $("#messages tbody").on('click', 'tr', function () {
        $("#select-message").val($(this).data("message"));
        updateSelectMessage();
      });

      // show table
      $('#loading').css('display', 'none');
      $('#table-container').css('display', 'initial');

    })
  </script>
{% endblock %}
