<html>
<head>
  <meta charset="UTF-8">
  <title>{{ group_name }} Yahoo! Group Backup</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  {% block head %}{% endblock %}
</head>
<body style="padding-top: 50px;">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path_to_root }}/index.html">Yahoo! Groups Backup</a>
    </div>
    <div class="collapse navbar-collapse">
      {% set navigation = [
          ('index.html', 'index', 'Index'),
          ('files', 'files', 'Files'),
          ('about.html', 'about', 'About'),
      ] %}
      {% set active_page = active_page|default('index') %}
      <ul class="nav navbar-nav">
        {% for href, id, caption in navigation %}
          <li {% if id == active_page %} class="active" {% endif %}>
            <a href="{{ path_to_root }}/{{ href }}">{{ caption  }}</a>
          </li>
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

{% block body %}{% endblock %}
</body>
</html>
