<hr>
<div class="row" style="font-size: 125%;">
  <div class="col-xs-4 text-left">
    <a href="{{ prevUrl() }}" ng-show="message.prev != 0">
      &#x25c0;&nbsp;<span class="text-danger" ng-show="prevMissing()">({{ prevMissing() }} missing)</span>&nbsp;Earlier
    </a>
    <br>
  </div>
  <div class="col-xs-4 text-center">
    <a ui-sref="index">Back to Index</a><br>
    #{{ message.id }}<br>
    <a href="https://groups.yahoo.com/neo/groups/{{ config.groupName }}/conversations/messages/{{ message.id }}"
       target="_blank">
      (View on live group)
    </a>
  </div>
  <div class="col-xs-4 text-right">
    <a href="{{ nextUrl() }}" ng-show="message.next != 0">
      Later&nbsp;<span class="text-danger" ng-show="nextMissing()">({{ nextMissing() }} missing)</span>&nbsp;&#x25b6;
    </a>
    <br>
  </div>
</div>
<hr>
<div class="row" style="font-size: 125%;" ng-repeat="header in headers">
  <div class="col-xs-4 col-sm-2"><b>{{ header.name }}:</b></div>
  <div class="col-xs-8 col-sm-10">{{ header.value }}</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div ng-if="loading" class="text-center">
      <img src="./img/loader.gif">
      </div>
    <div ng-if="!loading">
      <div ng-if="message.missing" class="alert alert-warning text-center">
        This message is missing or has been deleted from the group.
      </div>
      <div ng-if="!message.missing" ng-bind-html="message.messageBody"></div>
      <div ng-if="error" class="alert alert-danger text-center">
        Error loading message from server.
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" style="font-size: 125%;">
  <div class="col-xs-4 text-left">
    <br>
    <a href="{{ prevUrl() }}" ng-show="message.prev != 0">
      &#x25c0;&nbsp;<span class="text-danger" ng-show="prevMissing()">({{ prevMissing() }} missing)</span>&nbsp;Earlier
    </a>
  </div>
  <div class="col-xs-4 text-center">
    #{{ message.id }}<br>
    <a ui-sref="index">Back to Index</a>
  </div>
  <div class="col-xs-4 text-right">
    <br>
    <a href="{{ nextUrl() }}" ng-show="message.next != 0">
      Later&nbsp;<span class="text-danger" ng-show="nextMissing()">({{ nextMissing() }} missing)</span>&nbsp;&#x25b6;
    </a>
  </div>
</div>
<hr>
